<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ActorServlet</servlet-name>
        <servlet-class>proven.servlets.ActorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilmServlet</servlet-name>
        <servlet-class>proven.servlets.FilmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActorServlet</servlet-name>
        <url-pattern>/ActorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilmServlet</servlet-name>
        <url-pattern>/FilmServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>proven.servlets.LoginServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>proven.filter.AuthenticationFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/ActorServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/FilmServlet</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    
    <servlet>
        <servlet-name>ActorService</servlet-name>
        <servlet-class>proven.webservices.ActorService</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ActorService</servlet-name>
        <url-pattern>/actor-service</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FilmService</servlet-name>
        <servlet-class>proven.webservices.FilmService</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>FilmService</servlet-name>
        <url-pattern>/film-service</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
